<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWcfOrderService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://test2.cheyipai.com/WCFService/WcfOrderService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWcfOrderService"
                contract="OrderService.IWcfOrderService" name="BasicHttpBinding_IWcfOrderService" />
        </client>
    </system.serviceModel>
</configuration>