<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-MobileWebApi-20150416094607;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-MobileWebApi-20150416094607.mdf" />
    <add name="RedisConnectionString" connectionString="{&quot;MaxReadPoolSize&quot;:2,&quot;MaxWritePoolSize&quot;:2,&quot;ReadonlyServers&quot;:[{&quot;Host&quot;:&quot;192.168.100.152&quot;,&quot;Password&quot;:null,&quot;Port&quot;:6379}],&quot;ReadwriteServers&quot;:[{&quot;Host&quot;:&quot;192.168.100.152&quot;,&quot;Password&quot;:null,&quot;Port&quot;:6379}],&quot;Timeout&quot;:100}" />
    <add name="ReadOnlyConn" connectionString="server=192.168.100.210;database=DFAUCTION;user id=Pmanager;password=P123asd!1;max pool size=300;MultipleActiveResultSets=true;" />
    <add name="ReadOnlyDBSYSConn" connectionString="server=192.168.100.210;database=DBSYS;user id=Pmanager;password=P123asd!1;max pool size=300;MultipleActiveResultSets=true;" />
    <add name="WriteOnlyConn" connectionString="server=192.168.100.210;database=DFAUCTION;user id=Pmanager;password=P123asd!1;max pool size=300;MultipleActiveResultSets=true;" />
    <add name="WriteOnlyDBSYSConn" connectionString="server=192.168.100.210;database=DBSYS;user id=Pmanager;password=P123asd!1;max pool size=300;MultipleActiveResultSets=true;" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--项目配置节点-->
    <add key="AndroidKey" value="dfcyp2co"/>
    <!--是否开启在线验证-->
    <add key="OnlineJudge" value="false"/>
    <!--WCF访问调用密钥-->
    <add key="TokenKey" value="DF@268vCYP"/>
    <!--Pad推送密钥-->
    <add key="PadPushKey" value="D64379A3-41C7-4D2A-A7DB-0C9ED5A501B5"/>
    <!--Mobile推送密钥-->
    <add key="MobilePushKey" value="1252A7D3-7EB4-4D36-87C6-471F725105BF"/>
    <add key="CarImageUrlSmall" value="http://192.168.100.6:8006/small/c/" />
    <add key="CarImageUrl" value="http://192.168.100.6:8006/c/" />
    <!--redis开关  true：开启   false：关闭-->
    <add key="RedisSwitch" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <authentication mode="None" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <system.serviceModel>
    <!--WCF配置节点-->
    <bindings>
      <!--登陆服务-->
      <wsHttpBinding>
        <binding name="WSHttpBinding_ILoginWcfService">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
      <!---->
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IWcfOrderService" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_IWcfMiscService" />
        <binding name="BasicHttpBinding_IPushSer" />
        <binding name="BasicHttpBinding_INewbieTask" />
        <binding name="BasicHttpBinding_IUserSerWCF" />
        <binding name="BasicHttpBinding_IFileService" messageEncoding="Mtom" />
      </basicHttpBinding>
    </bindings>
    <client>
      <!--登录服务-->
      <endpoint address="http://loginservice.cheyipai.com/LoginService.svc/wshttp"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ILoginWcfService"
                contract="LoginWcfService.ILoginWcfService" name="WSHttpBinding_ILoginWcfService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <!---->
      <endpoint address="http://test2.cheyipai.com/WCFService/WcfOrderService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWcfOrderService"
                contract="WcfOrderService.IWcfOrderService" name="BasicHttpBinding_IWcfOrderService" />
      <!---->
      <endpoint address="http://shd2014.cheyipai.com/WCFService/WcfMiscService.svc"
               binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWcfMiscService"
               contract="WcfMiscService.IWcfMiscService" name="BasicHttpBinding_IWcfMiscService" />
      <!--推送服务-->
      <endpoint address="http://192.168.100.3:10030/PushSer.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IPushSer" contract="WcfPushService.IPushSer"
                name="BasicHttpBinding_IPushSer" />
      <endpoint address="http://192.168.100.3:10028/NewbieTask.svc"
               binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INewbieTask"
               contract="WcfTaskService.INewbieTask" name="BasicHttpBinding_INewbieTask" />
      
      <endpoint address="http://114.112.88.211:8091/FileService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFileService"
                contract="FileService.IFileService" name="BasicHttpBinding_IFileService" />
      
      <endpoint address="http://shd2014.cheyipai.com/WCFService/UserSerWCF.svc"
               binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserSerWCF"
               contract="UserWcfService.IUserSerWCF" name="BasicHttpBinding_IUserSerWCF" />
    </client>
    
  </system.serviceModel>
</configuration>