<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IUserSerWCF" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ILoginWcfService">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://loginservice.cheyipai.com/LoginService.svc/wshttp"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ILoginWcfService"
                contract="LoginWcfService.ILoginWcfService" name="WSHttpBinding_ILoginWcfService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://shd2014.cheyipai.com/WCFService/UserSerWCF.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserSerWCF"
                contract="UserWcfService.IUserSerWCF" name="BasicHttpBinding_IUserSerWCF" />
        </client>
    </system.serviceModel>
</configuration>